{% load static %}
<html>
    <head>
        <title>Face App</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/rlg.css' %}">
    </head>
    <body >
        <div class="welcomer">
            <p>Embrace the reality <strong onclick="window.location='/reglog'">Face app</strong></p>
            <button onclick="window.location='/reglog'">Hop In</button>
        </div>
        <div class="about_us">
            <h2 onclick="window.location='/reglog'">
                Face app
            </h2>
            <p >
                is a platform to confront the inevidable, find hope and be victorious over the haters
            </p>
        </div>
        <div class="footer">
            <p><strong>email:</strong> blablabla@mail.com</p>
            <p><strong>phone:</strong> +911</p>
            <p><strong>ig:</strong> @iaMgaY</p>
            <p><strong>Copyright 2024</strong></p>
        </div>
    </body>
</html>